<div class="container">
  <div class="columns is-centered">
    <div class="box column is-one-third">
      <h1 class="title has-text-centered">Typing Challenge</h1>

      <!-- <p class="has-text-centered">{{ randomText }}</p> -->
      <!--
        - This is an Angular template code snippet that uses the *ngFor directive to iterate over each character in the randomText variable. It splits the randomText string into an array of  individual characters and then creates a <span> element for each character. The let i = index part assigns the index of each character to the variable i.
        - The <span> element is an inline HTML element used to group and style content within a larger document. It is often used to apply styles or to contain a part of a text or a part of a  document. In the context of the code snippet you provided, the <span> elements are being created dynamically using the *ngFor directive to wrap each character of the randomText variable. 
        - This code is an Angular template code snippet that uses the *ngFor directive to iterate over each character in the
          randomText variable. It splits the randomText string into an array of individual characters and then creates a <span>
          element for each character.          
        - The let letter of randomText.split(''); let i = index part of the code assigns each character of the randomText array
          to the variable letter and assigns the index of each character to the variable i.          
        - Inside the <span> element, the {{ letter }} syntax is used to output the value of the letter variable, which
          represents each character in the randomText array. So, for each character in the randomText array, a <span> element
          is created with the character as its content.
        - This code snippet is written in Angular HTML template. It creates a list of span elements using the *ngFor directive.
          Each span element has a dynamic class that is determined by the compare method. The compare method takes two parameters:
          letter and enteredText[i]. The letter parameter represents the current letter of the randomText string being iterated
          over. The enteredText[i] parameter represents the corresponding letter in the enteredText string. The content of each
          span element is the letter itself.
      -->
      <p class="has-text-centered">
        <span [class]="compare(letter, enteredText[i])" *ngFor="let letter of randomText.split(''); let i = index;">{{
          letter
          }}</span>
        <!-- line used for debugging -->
        <!-- <span *ngFor="let letter of randomText.split(''); let i = index;">({{ letter }} {{ enteredText[i] }})</span> -->
      </p>
      <div class="field">
        <input class="input" (input)="onInput($event)" />
      </div>

      <div *ngIf="randomText === enteredText" class="box has-text-centered">
        <!-- another way to do it -->
        <!-- <div *ngIf="solved" class="box has-text-centered"> -->
        <h1 class="title">Success!</h1>
      </div>
    </div>
  </div>